.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.conteudo h2 {
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;

    
}

.box-login {

    text-align: center;
    padding: 100px 0px;

    
}

.box {

    border-radius: 10px;

}

.login-card {
    box-sizing:border-box;
    height: 500px;
    width: 600px;
    padding: 20px;
    background: linear-gradient(to right, #484949, #56bebe);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    background: linear-gradient(to right, #2bd3df, #feffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #56bebe;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}
